.about__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
    
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 3rem;
    text-align: justify;
    justify-content: space-between;
}

.about__skills {
    row-gap: 1rem;
    justify-content: space-between;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.skills__name {
    font-size: var(--normal-font-size) ;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 2rem;   
}

.skills__name:nth-child(odd) {
    margin-bottom: 1rem; 
  }

.skills__name:nth-child(even){
    margin-bottom: 1rem;
}